<!DOCTYPE html>
<html lang="en" ng-app="multilayer">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>Multilayer</title>
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.11/themes/css/cartodb.css" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="app-style.css" />
    </head>
    <body>
        <div id="map"></div>

        <div id="selector" ng-controller="SelectorCtrl" ng-cloak class="ng-cloak">
            <div ng-show="title" class="header">
                <h1>{{ title }}</h1>
                <h2 ng-show="description">{{ description }}</h2>
            </div>
            <ul>
                <li ng-repeat="layer in layers">
                    <table>
                        <tr>
                            <td><input type="checkbox" ng-model="selectedLayers[layer.id]" ng-change="layersUpdated(layer.id)" name="layer.id" /></td>
                            <td><label>{{ layer.name }}</label></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>

        <script src="http://libs.cartocdn.com/cartodb.js/v3/3.11/cartodb.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
        <script src="multilayer.js"></script>
    </body>
</html>
